<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
    testdox="true"
>
    <testsuites>
        <testsuite name="WP Cupón WhatsApp Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./includes/</directory>
            <directory suffix=".php">./admin/</directory>
            <directory suffix=".php">./public/</directory>
            <file>./wp-cupon-whatsapp.php</file>
            <exclude>
                <directory>./tests/</directory>
                <directory>./vendor/</directory>
                <directory>./node_modules/</directory>
                <file>./wp-cupon-whatsapp-fixed.php</file>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="./tests/coverage/html"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="./tests/coverage/junit.xml"/>
    </logging>
    
    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="./vendor/yoast/phpunit-polyfills"/>
        <server name="SERVER_NAME" value="localhost"/>
        <env name="WP_TESTS_DOMAIN" value="example.org"/>
        <env name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <env name="WP_TESTS_TITLE" value="Test Blog"/>
        <env name="WP_PHP_BINARY" value="php"/>
        <env name="WP_TESTS_FORCE_KNOWN_BUGS" value="1"/>
    </php>
</phpunit>